@using ApplicationCore.ServiceInterfaces
@inject ICurrentUser currentUser

@if (User.Identity.IsAuthenticated)
{
    <div class="navbar-collapse collapse">
        @*<ul class="navbar-nav ml-auto">*@
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @currentUser.FullName
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" aria-labelledby="dropdownMenuButton" asp-controller="Account" asp-action="Login">Library (MyMoviesCount)</a>
                    <a class="dropdown-item" aria-labelledby="dropdownMenuButton" asp-controller="Account" asp-action="LogOut">Log Out</a>
                    <a class="dropdown-item" aria-labelledby="dropdownMenuButton" asp-controller="Account" asp-action="Login">View Profile</a>
                    <a class="dropdown-item" aria-labelledby="dropdownMenuButton" asp-controller="Account" asp-action="Login">Edit Profile</a>
                </div>
            </div>
        @*</ul>*@
    </div>
}
else
{
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-4">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Login"> Login </a>
            </li>
            <li class="nav-item pr-4">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Register"> Register </a>
            </li>
        </ul>
    </div>
}